       if (isset($_FILES)) {
            foreach ($_FILES as $key => $val) {

                $filelist = "";
//            loop

                $file = \yii\web\UploadedFile::getInstanceByName($key);
                if (isset($file)) {
                    
                    $filename = $file->name;
                    $filenamenc = urlencode($filename);
                    if (!file_exists(Yii::$app->basePath . "/uploads/imgform/" . $_POST["ezf_id"])) {
                        mkdir(Yii::$app->basePath . "/uploads/imgform/" . $_POST["ezf_id"], 0777, true);
                    }
                    $path = Yii::$app->basePath . "/uploads/imgform/" . $_POST["ezf_id"] . "/" . $dataid . "_" . $filename;
                    $file->saveAs($path, $deleteTempFile = true);
                    $filelist .= $filename;
                    $fvalue[$key] = $filelist;
                    
                }
            }
//            //
        }