/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
.ezf-box-view{
    padding-left: 15px;
    padding-right: 15px;
}

.dads-children{
    positon:ralative;
}

.view-item.dads-children{
    padding-bottom: 0;
}

.dads-children:hover .button-item, .button-item:hover{
    display: block;
}

.button-item{
    display: none;
    position: absolute;
    right: 15px;
    top: 5px;
    z-index: 5000;
    text-align: right;
    width: 190px;
}

.col-md-1 .button-item{
    width: 120px;
}

.dads-children-clone .button-item{
    display: none;
}

#btnSettingGeneral:hover, #btnSettingGeneral:hover i, #btn-setting:hover, #btn-setting:hover i{
    color: #3c8dbc;
    background-color: #eee;
}
/*    #form-title{
        height: 50px;
        font-size: 20px;
        height: 100%;
    }
    #showPanel{

        box-shadow: 1px 0 10px 1px rgba(0,0,0,0.3);
        z-index: 1;
        position: relative;

    }
    hr{
       border:1px solid black !important;
    }
    #addPanel{
        background-color: #fbfbfb;
        padding:20px;
        position: relative;
        zoom: 1;
        z-index: 1;
    }*/

#ezf-box  input[type=radio] {
     transform: scale(2, 2);
     -moz-transform: scale(2, 2);
     -ms-transform: scale(2, 2);
     -webkit-transform: scale(2, 2);
     -o-transform: scale(2, 2);

     margin-right: 10px !important;
     margin-left: 10px !important;

 }
#ezf-box  input[type=checkbox] {
    transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    -o-transform: scale(2, 2);
    margin-right: 10px !important;


}
#ezf-box .radio label, .checkbox label{
    margin-left: 10px !important;
    padding-right: 10px !important;

}

.display-none{
    display: none !important;
}

.display-block{
    display: block !important;
}

div[item-id]{
    min-height: 74px;
}

