/*
 * Module US Finding.
 * Developed by Mark.
 * Date : 2016-03-18
*/
.reportUSFinding {
    font-size: 16px;
    position: relative;
    text-align: left;
    margin-top: 50px;
}
.valueOfUltrasonoTableFinding{
    margin-left: 20px;
}
.reportUltrasonoTableFinding{
    width: 320px;
    margin-bottom: 10px;
}
.tHeadReportUltrasonoTableFinding tr th{
    text-align: center !important;
}
.tBodyReportUltrasonoTableFinding{
    text-align: center !important;
}
.summaryOfUltrasonoGraphicFinding {
    position: relative;
    margin-left: 10px;
}
.bgUSFinding {
    text-align: left;
}
.valueReportUSFinding{
    position: absolute;
    background-color: #ffffff;
}
.blue17bold {
    font-weight: bold;
    color: blue;
}
.resultOfUltrasonoGraphicFinding{
    margin-left: 20px;
    color: blue;
}
.refer{
    margin-left: 20px;
}
.danger{
    color: red;
    font-weight: bold;
}
.underline{
    text-decoration:underline;
}
.listPatientOfUltrasonoGraphicFinding{
    font-size: 14px;
    position: relative;
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
div.listPatient{
    margin-left: 20px;
    margin-right: 20px;
}
div.listPatient table thead{
    font-weight: bold;
}
div.listPatient table tbody span.bgBludTextWhite{
    font-size: 12px;
    font-weight: bolder;
    background: #0000E0;
    color: #FFFFFF;
}
div.listPatient table tbody a{
    vertical-align: middle;
}